[Unit]
Description=Webserver for Paperless NGX

[Container]
Pod=paperlessNGX.pod
Image=ghcr.io/paperless-ngx/paperless-ngx:latest
Environment=PAPERLESS_REDIS=redis://127.0.0.1:6379
Environment=PAPERLESS_DBHOST=127.0.0.1
Environment=PAPERLESS_TIKA_ENABLED=1
Environment=PAPERLESS_TIKA_GOTENBERG_ENDPOINT=http:127.0.0.1:3000
Environment=PAPERLESS_TIKA_ENDPOINT=http://127.0.0.1:9998
Environment=PAPERLESS_OCR_LANGUAGES=deu
Volume=paperless-webserver-data.volume:/usr/src/paperless/data
Volume=paperless-webserver-media.volume:/usr/src/paperless/media
Volume=paperless-webserver-export.volume:/usr/src/paperless/export
Volume=paperless-webserver-consume.volume:/usr/src/paperless/consume
